fastapi==0.120.2
uvicorn[standard]==0.38.0
huggingface-hub
requests==2.32.5
aiofiles==25.1.0
sqlalchemy==2.0.44
alembic==1.17.1
pydantic==2.12.3
python-multipart==0.0.20
websockets==15.0.1
psutil==7.1.2
pyyaml==6.0.3
nvidia-ml-py
aiohttp==3.13.2
httpx==0.28.1
httpx-sse==0.4.3
tqdm==4.67.1
tokenizers
transformers
scikit-learn