fastapi
uvicorn[standard]
huggingface-hub
hf-transfer
requests
aiofiles
sqlalchemy
alembic
pydantic
python-multipart
websockets
psutil
pyyaml
nvidia-ml-py
aiohttp
httpx
httpx-sse
tqdm
tokenizers
transformers
scikit-learn